.four0four__bg {
  background: black fixed no-repeat top left url("#{$image-path}/jpg/404.jpg");
  background-size: cover;
}

.four0four {
  position: relative;
  @include flexMe($vertical: center, $horizontal: center) {
    flex-flow: column wrap;
  }

  h1 {
    cursor: default;
    position: absolute;
    color: rgba($accent, 50%);
    font-weight: $font-weight-bold;
    font-size: 38em;
    margin: 20% 0;

    @include media(">=tablet", "<=desktop") {
      font-size: 27em;
      margin: 23% 0;
    }

    @include media(">414px", "<=736px") {
      font-size: 10em;
      margin: 15% 0;
    }

    @include media("<=414px") {
      font-size: 10em;
      margin: 23% 0;
    }
  }

  h2 {
    color: $light;
    cursor: default;
    padding: 0.3em;
    background: rgba($dark, 50%);
    border-radius: 0.5em;

    @include media("<=414") {
      padding: 0.2em;
    }

    @include media(">=tablet", "<=desktop") {
      padding: 0.2em;
    }
  }
}

.pulse {
  animation: pulse 1500ms infinite;
  animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}
