@import "./thumbnail";

/*-------- Carousel --------*/
.carousel {
  width: 100%;
  height: auto;
  padding: 0 1em 0 1em;
  margin: 0 0 4em 0;

  h2 {
    color: $light;
    font-weight: $font-weight-bold;
    left: 0;
  }

  hr {
    border: 1px solid rgba($accent, .3);
    width: 100%;
    left: 0;
  }

  .carousel__container {
    width: 100%;
    height: auto;
    padding-bottom: 1em;
    white-space: nowrap;
    @include basic-transition($length: 500ms);

    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &:hover {
      padding: 4em 2em 4em 2em;
    }

    &:hover .carousel-thumbnail {
      opacity: 30%;
    }

    &:hover .carousel-thumbnail:hover {
      transform: scale(1.5);
      opacity: 1;
      border: 1px solid rgba($accent, 1);

      &:hover ~ .carousel-thumbnail {
        transform: translate3d(8em, 0, 0);
      }

      .carousel-thumbnail__details {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

/*-------- Carousel --------*/
