.footer {
  background: linear-gradient(rgba($dark, 0%), rgba($dark, 100%));
  height: auto;
  width: 100%;
  padding: 2em 1em 1em 1em;
  margin-top: auto;
  box-sizing: border-box;
  a {
    color: $light;
    font-size: 0.8em;
    text-decoration: none;
    margin-right: 1em;
    @include basic-transition;

    &:hover {
      font-weight: $font-weight-bolder;
      color: $accent;
    }
  }

  @include media("<=414px") {
    @include flexMe($vertical: flex-start, $horizontal: center) {
      flex-flow: column;
    }
  }
}
