/*-------- Seeker --------*/
.seeker {
  height: auto;
  margin-bottom: 3em;

  .seeker__title {
    color: $light;
    font-weight: $font-weight-bold;
    text-align: center;
    margin-bottom: 1em;
  }

  .seeker__input {
    display: block;
    height: 2em;
    padding: 0 1em;
    margin: 0 auto 0 auto;
    background-color: rgba($accent, 0.5);
    box-shadow: 0px 0px 0px 0px rgba($accent, 0);
    border: $accent solid 2px;
    border-radius: 2em;
    color: $light;
    @include clipBox;
    @include basic-transition($length: 500ms);

    &:focus {
      outline: none;
      box-shadow: 0px 0px 15px 10px rgba($accent, 0.5);
    }

    &::placeholder {
      color: rgba($light, 0.5);
    }
  }
}

.isHome {
  width: 70%;
}

/*-------- /Seeker --------*/
