@import url($muli-font-path);

body {
  font-family: $platzi-font-family;
  font-weight: $font-weight-light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-light;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-size: nth($hsize-group,$i);
  }
}
