// ===========================================================================
// Platzi variables
// ===========================================================================
//
// Table of Contents: 
//
//  1. Spacing
//  2. Fonts
//  3. Paths
//  4. Shadows


// 1. Spacing
// ===========================================================================

$spacer: 1rem !default;


// 2. Fonts
// ===========================================================================

// Basic font properties
$muli-font-path:                'https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,500;0,700;0,900;1,500;1,700;1,900&display=swap' !default;
$muli-font-family:              'Muli', sans-serif !default;
$platzi-font-family:            $muli-font-family !default;

$font-size-base:                1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                  $font-size-base * 1.25 !default;
$font-size-sm:                  $font-size-base * .875 !default;

$font-weight-lighter:           lighter !default;
$font-weight-light:             500 !default;
$font-weight-normal:            700 !default;
$font-weight-bold:              900 !default;
$font-weight-bolder:            bolder !default;

$font-weight-base:              $font-weight-normal !default;
$line-height-base:              1.5 !default;

$h1-font-size:                  $font-size-base * 2.5 !default;
$h2-font-size:                  $font-size-base * 2 !default;
$h3-font-size:                  $font-size-base * 1.75 !default;
$h4-font-size:                  $font-size-base * 1.5 !default;
$h5-font-size:                  $font-size-base * 1.25 !default;
$h6-font-size:                  $font-size-base !default;

$hsize-group: $h1-font-size, $h2-font-size, $h3-font-size, $h4-font-size, $h5-font-size, $h6-font-size;

$display1-size:                 6rem !default;
$display2-size:                 5.5rem !default;
$display3-size:                 4.5rem !default;
$display4-size:                 3.5rem !default;


// 3. Paths
// ===========================================================================

$image-path:                    "../img" !default;

// 4. Shadows
// ===========================================================================

// Drop
$drop-1:                        2px 2px 5px rgba(0,0,0, 30%) !default;
$drop-2:                        2px 5px 7px rgba(0,0,0, 35%) !default;
$drop-3:                        2px 8px 9px rgba(0,0,0, 40%) !default;
$drop-4:                        2px 12px 11px rgba(0,0,0, 45%) !default;
$drop-5:                        2px 16px 13px rgba(0,0,0, 50%) !default;
$drop-6:                        2px 27px 15px rgba(0,0,0, 55%) !default;

$s-drop-group: $drop-1, $drop-2, $drop-3, $drop-4, $drop-5, $drop-6;

// Box

// Shadows
$box-1:                         2px 2px 5px 0 rgba(0, 0, 0, 30%), 2px 2px 10px 0 rgba(0, 0, 0, 30%) !default;
$box-2:                         2px 5px 11px 0 rgba(0, 0, 0, 35%), 2px 4px 15px 0 rgba(0, 0, 0, 35%) !default;
$box-3:                         2px 8px 17px 0 rgba(0, 0, 0, 40%), 2px 6px 20px 0 rgba(0, 0, 0, 40%) !default;
$box-4:                         2px 12px 15px 0 rgba(0, 0, 0, 45%), 2px 17px 50px 0 rgba(0, 0, 0, 45%) !default;
$box-5:                         2px 16px 28px 0 rgba(0, 0, 0, 50%), 2px 25px 55px 0 rgba(0, 0, 0, 50%) !default;
$box-6:                         2px 27px 24px 0 rgba(0, 0, 0, 55%), 2px 40px 77px 0 rgba(0, 0, 0, 55%) !default;

$s-box-group: $box-1, $box-2, $box-3, $box-4, $box-5, $box-6;